<div class="card custom-card" [appLoading]="isLoading()">
    <div class="card-header">
        <h6 class="card-title fw-semibold mb-2">Login</h6>
        <!-- <p class="card-subtitle mb-0 text-muted">Lorem ipsum dolor sit amet</p> -->
    </div>
    <div class="card-body">
        <form
            [formGroup]="form"
            [appFormValidation]="form"
            [formSubmitted]="formSubmitted()"
        >
            <div class="form-group mb-3">
                <label for="">Nome de usuário</label>
                <!-- <small class="d-block text-muted mb-1"
                    >Lorem ipsum dolor sit amet.</small
                > -->
                <input
                    type="text"
                    class="form-control"
                    formControlName="username"
                    autocomplete="off"
                />
            </div>
            <div class="form-group fc-password mb-4">
                <label for="">Senha</label>
                <input
                    appInputPassword
                    [isPasswordVisible]="true"
                    type="password"
                    class="form-control"
                    formControlName="password"
                    autocomplete="off"
                />
            </div>
            <button
                type="button"
                class="btn btn-primary w-100"
                (click)="submit()"
            >
                Entrar
            </button>
            <div class="d-flex flex-column gap-2 text-center mt-3">
                <!-- <a [routerLink]="['/auth/forgot-password']"
                    >Esqueci minha senha</a
                > -->
                <a [routerLink]="['/auth/register']">Criar nova conta</a>
            </div>
        </form>
    </div>
</div>
