<div class="d-flex flex-column align-items-center">

	<h3 class="text-center fw-bolder m-0">Em quantos rounds você aposta nesta partida?</h3>

	<ul class="d-flex justify-content-center flex-wrap gap-2 m-0 mt-4 list-unstyled p-0">

		<ng-container *ngFor="let item of [].constructor(n+1); let i = index">

			<button
				type="button"
				class="btn fw-bold border-2"
				[class.btn-outline-primary]="i !== selected"
				[class.btn-primary]="i === selected"
				(click)="selected = i"
			>
				{{ i }}
			</button>

		</ng-container>

	</ul>

	<button
		[disabled]="selected === null"
		type="button"
		class="btn btn-lg btn-primary fw-bold mt-4"
		(click)="bet()">
			Apostar
	</button>

</div>