<!-- <div class="table-responsive" [appLoading]="isLoading()">
    <table class="table table-bordered" [(appTableSortable)]="sort">
        <thead>
            <tr>
                <th data-sort="id">ID</th>
                <th>Status</th>
                <th data-sort="owner.name">Criador</th>
                <th>Partida</th>
                <th>Round</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (game of games().data; track game.id) {
                <tr>
                    <td>{{ game.id }}</td>
                    <td>
                        
                    </td>
                    <td>{{ game.creator.name }}</td>
                    <td>
                        {{ game.current_match || 0 }}/{{ game.max_matches }}
                    </td>
                    <td>
                        {{ game.current_round || 0 }}/{{
                            game.current_match || 0
                        }}
                    </td>
                    <td>
                        <app-table-buttons>
                            <a
                                [routerLink]="['/game', game.id]"
                                class="btn btn-table-button text-success-hover"
                                title="Entrar no jogo"
                            >
                                <i class="fal fa-sign-in-alt"></i>
                            </a>
                        </app-table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> -->

<div class="d-flex flex-column gap-3">
    @for (game of games().data; track game.id) {
        <div class="card">
            <div class="card-body p-3">
                <div class="d-flex align-items-center gap-3">
                    <div class="d-flex flex-column align-items-start">
                        <h5 class="mb-1">Jogo {{ game.id }}</h5>
                        <p class="text-muted mb-1">
                            Criado por <b>{{ game.creator.name }}</b>
                        </p>
                        @if (game.ended_at) {
                            <span class="badge bg-secondary">Finalizado</span>
                        } @else if (game.started_at) {
                            <span class="badge bg-success">Em andamento</span>
                        } @else {
                            <span class="badge bg-info">Aguardando início</span>
                        }
                    </div>
                    <a
                        [routerLink]="['/game', game.id]"
                        type="button"
                        class="ms-auto btn btn-secondary"
                    >
                        Entrar
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<!-- <app-pagination
    [collection]="games()"
    [(pagination)]="pagination"
></app-pagination> -->
