<app-form-group
	[label]="label"
	[description]="description"
	[name]="name"
>

	<div class="position-relative">

		<input #input
			[(ngModel)]="value"
			[type]="type"
			class="form-control pe-5"
			(keyup)="onChange(input.value)"
	
			[disabled]="disabled"
			[attr.placeholder]="placeholder ? placeholder : null"
			
			[attr.minlength]="minlength ? minlength : null"
			[attr.maxlength]="maxlength ? maxlength : null"
		>

		<i
			class="position-absolute top-0 end-0 h-100 pe-3 fas d-flex align-items-center opacity-25"
			[class.fa-eye]="type === 'password'"
			[class.fa-eye-slash]="type === 'text'"
			(click)="type = type === 'password' ? 'text' : 'password'"
			>
		</i>

	</div>

	<div class="errors-wrapper"></div>

	<ng-content></ng-content>

</app-form-group>