<app-header>

	<a [routerLink]="['/app/games']" class="btn btn-sm btn-outline-dark me-2">Voltar</a>
	
	Criar novo jogo

</app-header>

<app-body>

	<app-form *ngIf="fg" [fg]="fg" (onSubmit)="onSubmit()">
		
		<app-form-input-number name="start_match" label="Partida inicial" />

		<app-form-input-number name="max_matches" label="Máximo de partidas" />

		<pre>{{ fg.value | json }}</pre>
	
		<div class="d-grid">
			<button type="submit" class="btn btn-lg btn-primary fw-bold">Criar</button>
		</div>
	
	</app-form>

</app-body>
