<section [className]="className()">
    <div class="section-header d-flex align-items-end gap-3">
        <div class="d-flex align-items-center gap-2">
            <i
                class="toggle-icon fal"
                tabindex="0"
                role="button"
                [class.fa-chevron-down]="opened()"
                [class.fa-chevron-up]="!opened()"
                (click)="toggle()"
            ></i>
            <ng-content select="title"></ng-content>
        </div>
        <!-- <div class="d-flex align-items-center gap-2 mb-1 ms-auto">
            <ng-content select="controls"></ng-content>
        </div> -->
    </div>
    <div class="content" [class.d-none]="!opened()">
        <ng-content></ng-content>
    </div>
</section>
