:host {
    display: block;
}

.cards-wrapper {
    --max-cards-per-row: 4;

    .card-wrapper {
        width: 70px;
        max-width: calc(
            100% / var(--max-cards-per-row) -
                (
                    calc(var(--max-cards-per-row) - 1) * 0.5rem /
                        var(--max-cards-per-row)
                )
        );

        small {
            display: inline-block;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            text-align: center;
        }

        app-card {
            width: 100%;
        }
    }

    &[data-total-players="3"] {
        --max-cards-per-row: 3;
    }

    &[data-total-players="4"] {
        --max-cards-per-row: 4;
    }

    &[data-total-players="5"] {
        --max-cards-per-row: 5;
    }

    &[data-total-players="6"] {
        --max-cards-per-row: 6;
    }
}
