<app-header
    [sidebarToggled]="sidebarToggled()"
    (toggleSidebarState)="toggleSidebarState()"
    (setSidebarState)="setSidebarState($event)"
>
</app-header>

<app-sidebar
    [sidebarToggled]="sidebarToggled()"
    (toggleSidebarState)="toggleSidebarState()"
    (setSidebarState)="setSidebarState($event)"
>
</app-sidebar>

<div id="main-content" [class.sidebar-toggled]="sidebarToggled()">
    <router-outlet></router-outlet>
    <div
        aria-hidden="true"
        id="sidebar-overlay"
        (click)="setSidebarState(false)"
    ></div>
</div>
