#main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));

    #sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 102;
    }

    // telas maiores
    @media (min-width: 992px) {
        // sidebar aberta completamente
        &:not(.sidebar-toggled) {
            margin-inline-start: var(--sidebar-width);
        }

        // sidebar aberta apenas ícones
        &.sidebar-toggled {
            margin-inline-start: var(--sidebar-collapsed-width);
        }
    }

    @media (max-width: 991px) {
        margin-inline-start: 0;

        &.sidebar-toggled #sidebar-overlay {
            display: block;
        }
    }
}
