<div class="card custom-card" [appLoading]="isLoading()">
    <div class="card-header">
        <h6 class="card-title fw-semibold mb-2">Cadastre-se</h6>
        <!-- <p class="card-subtitle mb-0 text-muted">Lorem ipsum dolor sit amet</p> -->
    </div>

    <div class="card-body">
        <div #alertContainer></div>

        <form
            [formGroup]="form"
            [appFormValidation]="form"
            [formSubmitted]="formSubmitted()"
        >
            <div class="form-group mb-3">
                <label for="">Nome de usuário</label>
                <input
                    type="text"
                    class="form-control"
                    formControlName="username"
                    autocomplete="off"
                />
            </div>
            <!-- <div class="form-group mb-3">
                <label class="mb-0" for="">E-mail</label>
                <small class="d-block text-muted mb-1"
                    >Lorem ipsum dolor sit amet.</small
                >
                <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    autocomplete="off"
                />
            </div> -->
            <div class="form-group fc-password mb-4">
                <label for="">Senha</label>
                <input
                    appInputPassword
                    type="password"
                    class="form-control"
                    formControlName="password"
                    autocomplete="off"
                />
            </div>
            <!-- <div class="form-group fc-password mb-4">
                <label for="">Confirmar senha</label>
                <input
                    appInputPassword
                    type="password"
                    class="form-control"
                    formControlName="password_confirmation"
                    autocomplete="off"
                />
            </div> -->
            <button
                type="button"
                class="btn btn-primary w-100"
                (click)="submit()"
            >
                Enviar
            </button>
            <div class="text-center mt-3">
                <a [routerLink]="['/auth/login']">Voltar para o login</a>
            </div>
        </form>
        <!-- <pre>{{ form.value | json }}</pre>
        <pre>{{ formValid }}</pre> -->
    </div>
</div>
