<app-header [attr.data-joker-id]="((game && !game.ended_at) && joker) ? joker.id : null">

	<a
		[routerLink]="['/app/games']"
		class="btn btn-sm me-2 fw-bold"
		[class.btn-outline-dark]="!joker || joker.id == 4"
		[class.btn-outline-light]="joker && joker.id != 4"
	>
			Voltar
	</a>
	
	Jogo {{ gameId }}

	<ng-container end *ngIf="game && !game.ended_at">

		<!-- <app-joker-card class="ms-auto" *ngIf="joker" [joker]="joker" /> -->

		<button
			*ngIf="!joined"
			type="button"
			class="btn btn-sm btn-dark ms-auto fw-bold"
			(click)="join()">Entrar
		</button>

		<button
			*ngIf="game.created_by == user.id"
			type="button"
			class="btn btn-sm btn-dark ms-auto fw-bold"
			(click)="start()">Iniciar
		</button>

	</ng-container>

</app-header>

<app-game-status-bar *ngIf="message" [message]="message" [highlight]="requestCard || requestBet" />

<div #slider class="swiper" *ngIf="game">

	<div class="swiper-wrapper">

		<div class="swiper-slide" *ngIf="!game.ended_at">

			<app-body>

				<app-players-table [players]="players" [game]="game" />

				<app-game-request-bet *ngIf="requestBet" [n]="cards.length" (onBet)="onBet($event)" />

				<app-game-round-data class="mt-3" *ngIf="lastRoundData && !requestBet" [data]="lastRoundData" message="Último round" />

				<app-game-round-data class="mt-3" *ngIf="currentRoundData" [data]="currentRoundData" message="Round atual" />

				<app-game-my-cards *ngIf="cards" [cards]="cards" (onCardClick)="onCardSelect($event)" />

			</app-body>

		</div>

		<div class="swiper-slide" *ngIf="roundsData.length > 0">

			<app-body>

				<app-players-table *ngIf="game && game.ended_at" class="mb-3" [players]="players" [game]="game" />
				
				<div id="rounds-data" class="d-flex flex-column-reverse gap-2">
					<app-game-round-data *ngFor="let data of roundsData" [data]="data" />
				</div>

			</app-body>

		</div>

		<div class="swiper-slide">

			<app-body>
				<app-game-log [logs]="logs" />
			</app-body>

		</div>

	</div>

</div>