:host {
    display: block;
}

.alert {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: calc(100% - 2rem);
    margin: 0;
    height: 47px;

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
