<div class="card">

    <div class="card-header d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-3">
            @if (icon()) {
                <i [class]="icon()"></i>
            }
            <div class="d-flex flex-column">
                <h5 class="m-0 fw-bold">{{ title() }}</h5>
                @if (subtitle()) {
                    <p class="d-block text-muted m-0">{{ subtitle() }}</p>
                }
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <ng-content></ng-content>
    </div>

    <ng-content select="footer"></ng-content>

</div>