#header {
    min-height: var(--header-height);

    // telas maiores
    @media (min-width: 992px) {
        // sidebar aberta completamente
        &:not(.sidebar-toggled) {
            padding-inline-start: var(--sidebar-width);
        }

        // sidebar aberta apenas ícones
        &.sidebar-toggled {
            padding-inline-start: var(--sidebar-collapsed-width);
        }
    }

    @media (max-width: 991px) {
    }
}
