app-header {
	--bg-color: #eee;
	--color: var(--bs-dark);
	padding: 1rem;
	display: flex;
	align-items: center;
	background-color: var(--bg-color);

	h3 {
		color: var(--color);
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	
		small {
			display: block;
			font-size: 16px;
			font-weight: 400 !important;
			opacity: 0.5;
		}
	}
}
