.page-message {

    .icon {
        font-size: 40px;
        opacity: 0.5;
    }

    h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
    }
}